html {
    font-size: 16px;
    height: auto;
    margin: 0;
    min-height: 600px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 0;
    background: none;
}

#bg-img {
    background-image: url(../img/bkg4.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    background: none;
    color: black;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.jumbo-about{
    padding:0;
}

.jumbotron h1 {
    font-size: 5rem;
    font-weight: 600;
}

.jumbotron p {
    font-size: 1.7rem;
}

.jumbotron  .text-special {
    color: rgb(208, 255, 0);
}

.container {
    margin-top: 20px;
}

.links {
    font-size: 250%;
    color:rgba(0, 0, 0, 0.65);
}

.kontact {
    font-size: 160%;
    color:rgba(0, 0, 0, 0.65);
    border: 1px solid rgb(208, 255, 0);
}

.kontact:hover {
    background-color:rgb(208, 255, 0);
    color:black;
    transition: all 0.5s ease-out;
    border: 3px solid rgba(0, 0, 0, 0.65);
}


.links:hover {
    color:rgb(208, 255, 0);
    transition: all 0.5s ease-out;
}

a:hover {
    text-decoration: none;
}

.pic-of-me {
    grid-area: bioimage;
    margin: auto;
    border-radius: 20%;
    width: 250px;
    height: 250px;
    border: rgb(208, 255, 0) 3px solid;
}

.pic-of-me:hover {
    box-shadow: 0 0 7px 5px rgba(0, 140, 186, 0.7);
    transition: all 0.5s ease-out;
}

.text-special-2 {
    color: rgba(0, 0, 0, 0.65);
}

.text-special-2:hover {
    color: black;
    transition: all 0.5s ease-out;
}

#short-description {
    font-size: 1rem;
}

.carousel-item {
    padding: 50px;
}

.email_tel {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-btn{
    z-index: 3;
}

.menu-btn .btn-line {
    border-radius: 10px;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: rgb(208, 255, 0);
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s; }
  .menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); }
  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0; }
  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px); }

.menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu.show {
    visibility: visible;
}

.menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #474747;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.6s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgb(95, 95, 95);
    transform: translate3d(-100%, 0, 0);
    transition: all 0.6s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      border-radius: 50%; }
      .menu-branding .portrait img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: solid 3px rgb(208, 255, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.6s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: rgb(208, 255, 0); }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.6s ease-out; }
    .menu .nav-link:hover {
      color: rgb(208, 255, 0); }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }