html {
    font-size: 16px;
    height: auto;
    margin: 0;
    min-height: 600px;
}

body {
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 0;
    background: none;
}

#bg-img {
    background-image: url(../img/bkg4.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    background: none;
    color: black;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.jumbo-about{
    padding:0;
}

.jumbotron h1 {
    font-size: 5rem;
    font-weight: 600;
}

.jumbotron p {
    font-size: 1.7rem;
}

.jumbotron  .text-special {
    color: rgb(208, 255, 0);
}

.container {
    margin-top: 20px;
}

.links {
    font-size: 250%;
    color:rgba(0, 0, 0, 0.65);
}

.kontact {
    font-size: 200%;
    color:rgba(0, 0, 0, 0.65);
    border: 1px solid rgb(208, 255, 0);
}

.kontact:hover {
    background-color:rgb(208, 255, 0);
    color:black;
    transition: all 0.5s ease-out;
    border: 3px solid rgba(0, 0, 0, 0.65);
}


.links:hover {
    color:rgb(208, 255, 0);
    transition: all 0.5s ease-out;
}

a:hover {
    text-decoration: none;
}

.pic-of-me {
    grid-area: bioimage;
    margin: auto;
    border-radius: 20%;
    width: 250px;
    height: 250px;
    border: rgb(208, 255, 0) 3px solid;
}

.pic-of-me:hover {
    box-shadow: 0 0 7px 5px rgba(0, 140, 186, 0.7);
    transition: all 0.5s ease-out;
}

.text-special-2 {
    color: rgba(0, 0, 0, 0.65);
}

.text-special-2:hover {
    color: black;
    transition: all 0.5s ease-out;
}

#short-description {
    font-size: 1rem;
}

.carousel-item {
    padding: 50px;
}

.menu-left {
    padding-top: 10%;
}

.menu-right {
    padding-top: 8%;
}